<h4><br>Resources</h4>
<p>PseudoJson comes with different sets of common resources:</p>
<div class="note">
    <p>Products endpoints:</p>
    <table>
        <thead>
            <tr>
                <th>Method</th>
                <th>Endpoint</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GET</td>
                <td><a href="/products">/products</a></td>
                <td>Returns a list of all products.</td>
            </tr>
            <tr>
                <td>GET</td>
                <td><a href="/products/1">/products/1</a></td>
                <td>Fetch product with id 1.</td>
            </tr>
            <tr>
                <td>GET</td>
                <td><a href="/products/2">/products/2</a></td>
                <td>Fetch product with id 2.</td>
            </tr>
            <tr>
                <td>GET</td>
                <td><a href="/products/category/smartphones">/products/category/smartphones</a></td>
                <td>Fetch products which has the category smartphones.</td>
            </tr>
            <tr>
                <td>POST</td>
                <td><a href="/products">/products</a></td>
                <td>Adds a new product to the database. Requires a JSON payload with product details.<br>Body:</td>
            </tr>
        </tbody>
    </table>
    <pre><code>{
"brand": "Apple",
"category": "smartphones",
"description": "An apple mobile which is nothing like apple",
"discountPercentage": 12.96,
"id": 31,
"images": [
    "https://unsplash.com/photos/a-close-up-of-a-person-holding-a-cell-phone-KX_7S9bXYjY"
],
"price": 1449,
"rating": 12.69,
"stock": 188,
"thumbnail": "https://unsplash.com/photos/a-close-up-of-a-person-holding-a-cell-phone-KX_7S9bXYjY",
"title": "iPhone 15 pro"
}</code></pre>
    <p>Headers:</p>
    <pre>Content-Type: application/json</pre>
    <p><b>Response Examples:</b></p>
    <p>Success - 201 Created:</p>
    <pre><code>{
"_id": "mongodb_generated_id",
"id": "unique_product_id",
"title": "Product Title",
"price": 100,
"category": "Category Name",
// Additional fields...
}</code></pre>
    <p>Error - 400 Bad Request (Missing ID):</p>
    <pre><code>{
"error": "ID is required"
}</code></pre>
    <p>Error - 409 Conflict (ID already exists):</p>
    <pre><code>{
"error": "Product with this ID already exists"
}</code></pre>
    <p>**Note:** by default you will get 30 results and the total count, you can pass "skip" & "limit" query string to get more results. For example: <a href="/products?skip=5&limit=10">/products?skip=5&limit=10</a></p>
</div>
